<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <!--
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      -->
      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group form-row">
    <div class="col-sm-4 col-form-label">
      <%= label_tag :title, "Listing Title: " %>
    </div>
    <div class="col-sm-8">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div><!-- end of row -->
  
  <div class="field form-group form-row">
    <div class="col-sm-4 col-form-label">
      <%= label_tag :price, "Price: " %>
    </div>
    <div class="col-sm-8">
      <%= form.number_field :price, class: "form-control" %>
    </div>
  </div><!-- end of row -->
  
  <div class="field form-group form-row">
    <div class="col-sm-4 col-form-label">
      <%= label_tag :description, "Description: " %>
    </div>
    <div class="col-sm-8">
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div><!-- end of row -->
  
    <p>
      <%= label_tag(:picture, "Picture") %>
      <%= form.file_field(:picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' ) %>
    </p>
    <p>
    <%= form.radio_button :show_phone, true %> Show Phone Number<br />
    <%= form.radio_button :show_phone, false %> Hide Phone Number<br />
    </p>
  <div class="actions mb-4">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
