<p id="notice"><%= notice %></p>
<%= link_to 'New Listing', new_listing_path %>

<h1>Listings</h1>



    <% @listings.each do |listing| %>
      <div>
        <% unless listing.picture.attached? %>
          <p><%= link_to image_tag('defaultbox.jpg'), listing %></p>
        <% else %>
          <p><%= link_to image_tag(listing.picture), listing %></p>
        <% end %>

        

        <%# <% image_tag picture, listing_path ) %> 
        
        <%# <p><%= image_tag url_for(listing.picture) if listing.picture.attached? %> 
        <%# <% end %>
    
  
        <p><%= listing.title %></p>
        <p><%= listing.price %></p>

        <% if @mark == "yes" %>
          <%= current_user.phone_number %>
        <% end %>
        <p><%= link_to 'Show', listing %></p>
          <% if listing.user == current_user %>
            <p><%= link_to 'Edit', edit_listing_path(listing) %></p>
            <p><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

      </div>
    <% end %>


<br>

