<p id="notice"><%= notice %></p>

<div id="listings-container" class="container">
    <h2><%= @listing.title %></h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <% unless @listing.picture.attached? %>
                <%= image_tag('defaultbox.jpg') %>
            <% else %>
                <%= image_tag(@listing.picture) %>
            <% end %>
            
            <% if current_user && @listing.user == current_user %>
                <p><%= link_to 'Edit your Listing', edit_listing_path(@listing) %></p> 
            <% end %>
    
            <p>
                Item Price: $<%= number_with_precision(@listing.price, precision: 2) %>
            </p>
            <p>
                <% if user_signed_in? %>
                    <button id="stripePayment"></i><i class="fas fa-shopping-cart"></i> Buy It Now </button>
                <% else %>
                    Log in to buy.
                <% end %>
            </p>
            <p>
                <%= link_to 'Back', listings_path %>
            </p>
            <p>
                <% if @mark == true %>
                    <h6>Contact The Seller</h6>
                    <%= @listing.user.phone_number %>
                <% end %>
            </p>
        </div>
            
        <div class="col-md-8">
            <h5><strong>Description</strong></h5>
            <p>
                <%= @listing.description %>
            </p>
        </div>
</div><!--closing listings-container -->



<script>
    document.getElementById("stripePayment").addEventListener("click", function() {
      
      var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');

      stripe.redirectToCheckout({
        sessionId: '<%= @stripe_session_id %>',
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    });
</script>