<p id="notice"><%= notice %></p>

<div id="listings-container" class="container">
    <h2><%= @listing.title %></h2>
        <div class="row">
            <div class="col-sm-4">
            <% unless @listing.picture.attached? %>
                <%= image_tag('defaultbox.jpg') %>
            <% else %>
                <%= image_tag(@listing.picture) %>
            <% end %>
        </div>
        <div class="col-sm-8">
            <%= @listing.description %>
        </div>
</div>

        <div>
        <h4>Contact the Seller</h4>
            <% if @mark == true %>
                <%= @listing.user.phone_number %>
            <% end %>

        </div>
</div>
<div id="listings-container" class="container">
    <div>
        <% if @listing.user == current_user %>
            <%= link_to 'Edit', edit_listing_path(@listing) %> 
        <% end %>
    </div>
    <div>
        <% if user_signed_in? %>
            <button id="stripePayment">Pay $<%= number_with_precision(@listing.price, precision: 2) %></button>
        <% else %>
            Log in to buy.
        <% end %>
    </div>
    <div>
        <%= link_to 'Back', listings_path %>
    </div>
</div>

<script>
    document.getElementById("stripePayment").addEventListener("click", function() {
      
      var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');

      stripe.redirectToCheckout({
        sessionId: '<%= @stripe_session_id %>',
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    });
</script>