<div id="listings-page">
    <h2 class="py-4 text-center"><%= @listing.title %></h2>

    <div class="row mb-4">

        <div class="col-sm-4 text-center">
            <% unless @listing.picture.attached? and user_signed_in? and @listing.user_id == current_user.id %>
                <p ><%= image_tag('defaultbox.jpg', class: "img-fluid") %></p>
            <% else %>
                <p><%= image_tag(@listing.picture, class: "img-fluid") %></p>
            <% end %>
            
            <% if current_user && @listing.user == current_user %>
              <p><%= link_to 'Edit your Listing', edit_listing_path(@listing) %></p> 
            <% end %>
          
            <div id="listing-data">
                <p><%= link_to @listing.user.username, user_path(@listing.user.id), :class => "btn btn-info" %></p>
                <p>Item Price: $<%= number_with_precision(@listing.price, precision: 2) %></p>
                <!-- stripe payment won't show up if they aren't signed in -->
                <% unless @listing.product_order %>
                    <% if user_signed_in? %>
                        <p><button id="stripePayment"><i class="fas fa-shopping-cart"></i>Buy It Now</button></p>
                    <% else %>
                        <p>You must <%= link_to "Sign Up", new_user_registration_path  %> or 
                        <%= link_to "Sign In", new_user_session_path %> to make a purchase.</p>
                    <% end %>
                <% else %>
                    <% if @listing.product_order.user == current_user %>
                        <% unless @listing.rating.present? %>
                            <p><span class="badge badge-success">You Purchased This!</span></p>
                            <%= form_for :listing, method: "put" do |f| %>
                                <%= label_tag(:rating, "Leave a Rating: ") %>
                                <%= f.number_field(:rating, within: 1..5) %> / 5<br />
                                <%= f.submit("Submit", class: "btn btn-primary btn-xs") %>
                            <% end %>
                        <% else %>
                            <p>
                                <span class="badge badge-success">
                                    You Rated: <%= @listing.rating %> / 5
                                </span>
                            </p>
                        <% end %>
                    <% else %>
                        <span class="badge badge-danger">SOLD</span> to
                        <%= @listing.product_order.user.username %>
                        <% if @listing.rating.present? %>
                            <br />
                            Rating: <span class="badge badge-primary"><%= @listing.rating %> / 5</span>
                        <% end %>
                    <% end %>
                <% end %>
            </div><!-- end of #listing-data -->
            <p>
                <% if user_signed_in? && @mark == true %>
                    <h6>Contact The Seller</h6>
                    <%= @listing.user.phone_number %>
                <% end %>
            </p>
        </div><!-- end of column -->
            
        <div class="col-sm-8">
            <h5 class="text-center"><strong>Description</strong></h5>
            <p>
                <%= @listing.description %>
            </p>
            <p class="text-right"><%= link_to 'Back', listings_path, class: "btn btn-secondary mt-2" %></p>
        </div><!-- end of column -->

    </div><!-- end of row -->

</div><!-- end of #listings-page -->

<script>
    document.getElementById("stripePayment").addEventListener("click", function() {
      
      var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');

      stripe.redirectToCheckout({
        sessionId: '<%= @stripe_session_id %>',
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    });
</script>