<div id="user-profile">
  <% if @user.id == current_user.id %>
    <h2 class="my-4">My Profile</h2>
  <% end %>

  <div id="user-info" class="row">
    <div class="col-sm-4">
      <% if @user.picture.attached? %>
        <%= image_tag @user.picture, class: "img-fluid" %>
      <% else %>
        <%= image_tag "default-user-pic.png", class: "img-fluid" %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h3 class="mb-4"><%= @user.username %></h3>
      <p>User Rating: N/A</p>
      <p>Name: <%= @user.full_name %></p>
      <p>Member Since: <%= @user.created_at %><p>
      <p>Location: <%= @user.location.city %>, <%= @user.location.state %>, <%= @user.location.country %></p>
      <p>Email: <%= @user.email %></p>
      <% if user_signed_in? and @user.id == current_user.id %>
        <%= link_to "Update Account", edit_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div><!-- end of #user-info.row -->

  <div id="user-listings">
  <% if @active_listings.any? %>
    <h2 class="my-4">Active Listings</h2>
    <p><%= @user.username %> has <%= @active_listings.count %> active listings.</p>
        
    <% @active_listings.each_with_index do |listing, index| %>

      <% if index == 0 # the very first listing %>
        <div class="row"><!-- open .row -->
      <% end %>

      <%# first listing in the row (excluding the very first listing) %>
      <% if index != 0 && (index + 1) % 3 == 1 %>
        </div><!-- close ."row" -->
        <div class="row"><!-- open .row -->
      <% end %>

      <div class="col-sm-4"><!-- open column -->
        <div class="listing-image">
          <% unless listing.picture.attached? %>
            <%= link_to image_tag('defaultbox.jpg', class: "img-thumbnail"), listing %>
          <% else %>
            <%= link_to image_tag(listing.picture, class: "img-thumbnail"), listing %>
          <% end %>
        </div>
        <div class="listing-content mt-4">
          <h5><%= listing.title %></h5>
          <p>$ <%= listing.price %></p>
          <p><%= listing.created_at %></p>
          <p>
            <%= link_to 'View Listing', listing, class: "btn btn-primary btn-xs" %>
            <% if user_signed_in? && listing.user == current_user %>
              <%= link_to '<span class="badge badge-warning">Edit</span>'.html_safe, edit_listing_path(listing) %>
              <%= link_to '<span class="badge badge-danger">Remove</span>'.html_safe, listing, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div><!-- end of .listing-content -->
      </div><!-- close column -->

      <% if listing == @active_listings.last %>
        <% remaining_columns = 3 - (@active_listings.count % 3) %>
        <% if remaining_columns > 0 && remaining_columns < 3 %>
          <% remaining_columns.times do %>
            <div class="col-sm-4"></div>
          <% end %>
        <% end %>
        </div><!-- close .row -->
      <% end %>

    <% end # each_with_index %>
  <% end # (if @active_listings.any?) %>

  <% if @sold_listings.any? %>
    <h2 class="my-4">Sold Listings</h2>
    <p><%= @user.username %> has sold <%= @sold_listings.count %> listings.</p>
    <% @sold_listings.each_with_index do |listing, index| %>

      <% if index == 0 # the very first listing %>
        <div class="row"><!-- open .row -->
      <% end %>

      <%# first listing in the row (excluding the very first listing) %>
      <% if index != 0 && (index + 1) % 3 == 1 %>
        </div><!-- close ."row" -->
        <div class="row"><!-- open .row -->
      <% end %>

      <div class="col-sm-4"><!-- open column -->
        <div class="listing-image">
          <% unless listing.picture.attached? %>
            <%= link_to image_tag('defaultbox.jpg', class: "img-thumbnail"), listing %>
          <% else %>
            <%= link_to image_tag(listing.picture, class: "img-thumbnail"), listing %>
          <% end %>
        </div>
        <div class="listing-content mt-4">
          <h5><%= listing.title %></h5>
          <p>$ <%= listing.price %></p>
          <p><%= listing.created_at %></p>
          <p>
            <%= link_to 'View Listing', listing, class: "btn btn-primary btn-xs" %>
            <% if user_signed_in? && listing.user == current_user %>
              <%= link_to '<span class="badge badge-warning">Edit</span>'.html_safe, edit_listing_path(listing) %>
              <%= link_to '<span class="badge badge-danger">Remove</span>'.html_safe, listing, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div><!-- end of .listing-content -->
      </div><!-- close column -->

      <% if listing == @sold_listings.last %>
        <% remaining_columns = 3 - (@sold_listings.count % 3) %>
        <% if remaining_columns > 0 && remaining_columns < 3 %>
          <% remaining_columns.times do %>
            <div class="col-sm-4"></div>
          <% end %>
        <% end %>
        </div><!-- close .row -->
      <% end %>

    <% end # each_with_index %>
  <% end # (if @sold_listings.any?) %>
  </div><!-- end of #user-listings -->

  <% if @purchased_listings.any? %>
  <div id="user-purchases">
    <h2 class="my-4">Purchased Listings</h2>
    <p><%= @user.username %> has purchased <%= @purchased_listings.count %> listings.</p>
        
    <% @purchased_listings.each_with_index do |listing, index| %>

      <% if index == 0 # the very first listing %>
        <div class="row"><!-- open .row -->
      <% end %>

      <%# first listing in the row (excluding the very first listing) %>
      <% if index != 0 && (index + 1) % 3 == 1 %>
        </div><!-- close ."row" -->
        <div class="row"><!-- open .row -->
      <% end %>

      <div class="col-sm-4"><!-- open column -->
        <div class="listing-image">
          <% unless listing.picture.attached? %>
            <%= link_to image_tag('defaultbox.jpg', class: "img-thumbnail"), listing %>
          <% else %>
            <%= link_to image_tag(listing.picture, class: "img-thumbnail"), listing %>
          <% end %>
        </div>
        <div class="listing-content mt-4">
          <h5><%= listing.title %></h5>
          <p>$ <%= listing.price %></p>
          <% if listing.product_order.user == current_user %>
            <% if listing.rating.present? %>
              <p><span class="badge badge-success">You Rated: <%= listing.rating %> / 5</span></p>
            <% end %>
          <% end %>
          <p><%= listing.created_at %></p>
          <p>
            <%= link_to "View Listing", listing, class: "btn btn-primary btn-xs" %>
            <% if user_signed_in? && listing.user == current_user %>
              <%= link_to '<span class="badge badge-warning">Edit</span>'.html_safe, edit_listing_path(listing) %>
              <%= link_to '<span class="badge badge-danger">Remove</span>'.html_safe, listing, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div><!-- end of .listing-content -->
      </div><!-- close column -->

      <% if listing == @purchased_listings.last %>
        <% remaining_columns = 3 - (@purchased_listings.count % 3) %>
        <% if remaining_columns > 0 && remaining_columns < 3 %>
          <% remaining_columns.times do %>
            <div class="col-sm-4"></div>
          <% end %>
        <% end %>
        </div><!-- close .row -->
      <% end %>

    <% end # each_with_index %>
  </div><!-- end of #user-purchases -->
  <% end %>
</div><!-- end of #user-profile -->