<div id="user-profile">
  <% if @user.id == current_user.id %>
    <h2 class="my-4">My Profile</h2>
  <% end %>

  <div id="user-info" class="row">
    <div class="col-sm-4">
      <% if @user.picture.attached? %>
        <%= image_tag @user.picture, class: "img-fluid" %>
      <% else %>
        <%= image_tag "default-user-pic", class: "img-fluid" %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h3 class="mb-4"><%= @user.username %></h3>
      <p>User Rating: N/A</p>
      <p>Name: <%= @user.full_name %></p>
      <p>Member Since: <%= @user.created_at %><p>
      <p>Location: <%= @user.location.city %>, <%= @user.location.state %>, <%= @user.location.country %></p>
      <p>Email: <%= @user.email %></p>
      <% if user_signed_in? and @user.id == current_user.id %>
        <%= link_to "Update Account", edit_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div><!-- end of #user-info.row -->

 

<h2>Transaction History</h2>
  <div>
    <h2>All listings of the <%= @user.username %></h2>
    <div>
      <% @user.listings.each do |listing| %>
        <div><%= listing.title %></div>
        <div><%= listing.price %></div>
        <br>
      <% end %>
    </div>
  </div>

  <div>
    <h2>All bought listings of the <%= @user.username %></h2>
    <div>
      <% @user.product_orders.pluck(:listing_id).each do |i| %>
        <div><%= @listings.find(i).title %></div>
        <div><%= @listings.find(i).price %></div>
        <% if @listings.find(i).user_id %>
          <div>Bought from: <%= @users.find(@listings.find(i).user_id).username %></div> 
        <% end %>
         <br>
      <% end %>
    </div>
  </div>

  <div>
    <h2>All sold listings of the <%= @user.username %></h2>
    <div>
      <% @user.listings.pluck(:id).each do |i| %>
            <% if ProductOrder.all.pluck(:listing_id).include?(i) %>
                <div><%= @listings.find(i).title %></div>
                <div><%= @listings.find(i).price %></div>
                <% if @listings.find(i).user_id %>
                    <div>Sold to: <%= @users.find(@listings.find(i).user_id).username %></div> 
                <% end %>
                <br>
            <% end %>
      <% end %>
    </div>
  </div>