<div id="user-profile">

  <div id="user-info" class="row">
    <div class="col-sm-4">
      <% if @user.picture.attached? %>
        <%= image_tag @user.picture, class: "img-fluid" %>
      <% else %>
        <%= image_tag "default-user-pic", class: "img-fluid" %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h3 class="mb-4"><%= @user.username %></h3>
      <p>User Rating: N/A</p>
      <p>Name: <%= @user.full_name %></p>
      <p>Member Since: <%= @user.created_at %><p>
      <p>Location: <%= @user.location.city %>, <%= @user.location.state %>, <%= @user.location.country %></p>
      <p>Email: <%= @user.email %></p>
      <p>User has <%= @user.listings.count %> active listings.</p>
      <% if user_signed_in? and @user.id == current_user.id %>
        <%= link_to "Update Account", edit_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div><!-- end of #user-info.row -->

  <h2 class="test">Transaction History</h2>

  <div>
    <% @user.listings.each do |listing| %>
      <% if listing.picture.attached? %>
      <div>
        <div class="picture"><%= link_to image_tag(listing.picture), listing %></div>
        <table>
          <tr>
            <td>Price:</td>
            <td><%= listing.price %></td>
          </tr>

          <tr>      
            <td>Created at:</td>
            <td><%= listing.created_at %></td>
          </tr>

          <tr>
            <td>sold to/bought from:</td>
            <td>[Other User's name]</td>
          <tr>

          <tr>
            <td>Rating: </td>
            <td>[*****]</td>
          <tr>
        </table>
      </div>
      <% end %>
    <% end %>
  </div>

</div><!-- end of #user-profile -->





      