<div class="log-in">
  <h2 class="mb-4">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field form-group form-row">
      <div class="col-sm-4 col-form-label">
        <%= f.label :email, "Email: " %>
      </div>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", data: {cy: "email"} %>
      </div>
    </div><!-- end of row -->

    <div class="field form-group form-row">
      <div class="col-sm-4 col-form-label">
        <%= f.label :password, "Password: " %>
      </div>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", data: {cy: "password"} %>
      </div>
    </div><!-- end of row -->

    <% if devise_mapping.rememberable? %>
      <div class="field form-group form-row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
          <%= f.check_box :remember_me %>&nbsp;
          <%= f.label :remember_me %>
        </div>
      </div><!-- end of row -->
    <% end %>

    <div class="actions form-group form-row">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <%= f.submit "Log in", class: "btn btn-primary", data: {cy: "submit"}%>
      </div>
    </div>

    <div class="actions form-group form-row">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  <% end %>

</div>