<!DOCTYPE html>
<html>
  <head>
    <title>RailsTeamProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<<<<<<< HEAD
  <nav class="collapse navbar-collapse navbar-ex1-collapse">
        	<% if user_signed_in? -%>
						<ul class="nav navbar-nav navbar-right">
							<li><%= link_to 'Sell a mystery box', new_listing_path %></li>
							<li><%= link_to 'Account', edit_user_registration_path %></li>
							<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
						</ul>
					<% else -%>
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to 'Sign up', new_user_registration_path %></li>
							<li><%= link_to 'Sign in', new_user_session_path %></li>
              <li><%= link_to 'Want to sell a mystery box?', new_listing_path %></li>
						</ul>
					<% end -%>
        </nav>
=======
>>>>>>> dev
  <body>
<!--Navbar-->
<nav class="navbar navbar-light amber lighten-4 mb-4">

  <!-- Navbar brand -->
  <%= link_to "Mystery Box Market", root_path, class: "navbar-brand" %>

  <!-- Collapse button -->
  <button class="navbar-toggler animated-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon"><span></span><span></span><span></span></div>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent20">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home <span class='sr-only'>(current)</span>".html_safe, root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%#= link_to "Browse Listings", listings_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%#= link_to "Create a Listing", listings_new_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? -%>
        <li><%= link_to 'Sell a mystery box', new_user_session_path %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <script type="text/javascript">
    // Navbar animation
      $(document).ready(function () {
        $('.animated-button').on('click', function () {
          $('.animated-icon').toggleClass('open');
        });
      });
    </script>
  </body>
</html>
